<%
let hidden_final = data.article.magazine.is_final_closure ? 'hidden' : ''
let hidden_closure = data.article.magazine.is_closure ? 'hidden' : ''

let hidden_closure_final = ''
if (hidden_final || hidden_closure) {
    hidden_closure_final = 'hidden'
}
%>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12"
             style="position:sticky; z-index:1000; top: 64px">
            <div class="d-flex p-4 shadow rounded justify-content-between align-items-end bg-white">
                <a href="/student/article">
                    <button class="btn btn-primary" type="button"><i class="fas fa-chevron-left"></i></button>
                </a>
                <h5 style="text-align: center;">Article Detail</h5>
                <%
                let can_handle_article = 'hidden'
                if (data.article.status === 'QUEUE') {
                    can_handle_article = ''
                }
                %>
                <button class="btn btn-danger"
                        id="btn_delete_article" <%= hidden_closure_final %> <%= can_handle_article %> >
                    <i class="fa-solid fa-trash me-2"></i>
                    Delete Article
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-xl-12">
            <div class="container-fluid px-4" style="padding-right: 0!important;padding-left: 0!important;">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="shadow rounded h-100 p-4">
                            <div class="row g-4">
                                <div class="col-sm-6 col-xl-6">
                                    <h6>Basic Information</h6>
                                </div>
                                <div class="col-sm-6 col-xl-6">
                                    <h6 class="text-end">
                                        <%
                                        let style_color = ''
                                        if (data.article.status === 'ACCEPTED') {
                                            style_color = 'green'
                                        } else if (data.article.status === 'REFUSED') {
                                            style_color = 'red'
                                        } else {
                                            style_color = 'dodgerblue'
                                        }
                                        %>
                                        <span style="padding: 0.5rem;background: <%= style_color %>; color: white"
                                              class="rounded">
                                            <%= data.article.status %>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                            <form id="article_form">
                                <input type="hidden" value="<%= data.article._id %>" name="article_id" id="article_id">
                                <label class="form-label title-field mt-3">Magazine</label>
                                <a href="/student/magazine/detail/<%= data.article.magazine._id %>">
                                    <p><%= data.article.magazine.title %>
                                        <%
                                        let color = 'green'
                                        let status = 'opening'
                                        if (data.article.magazine.is_final_closure) {
                                            color = 'red'
                                            status = 'final closure'
                                        } else if (data.article.magazine.is_closure) {
                                            color = 'var(--primary)'
                                            status = 'closure'
                                        }
                                        %>
                                        <span class="rounded"
                                              style="padding: 0.2rem;background: <%= color %>; color: white">
                                          <%= status %>
                                        </span>
                                    </p>
                                </a>

                                <label class="form-label title-field mt-3">Title</label>
                                <input class="form-control"
                                       type="text"
                                       name="title"
                                        <%= data.article.magazine.is_final_closure ? 'disabled' : '' %>
                                        <%= can_handle_article === 'hidden' ? 'disabled' : '' %>
                                       value="<%= data.article.title %>"
                                       required>

                                <label class="form-label title-field mt-3">Description</label>
                                <input class="form-control"
                                       type="text"
                                       name="description"
                                        <%= data.article.magazine.is_final_closure ? 'disabled' : '' %>
                                        <%= can_handle_article === 'hidden' ? 'disabled' : '' %>
                                       value="<%= data.article.description %>"
                                       required>

                                <label class="form-label title-field mt-3">Thumbnail</label>
                                <div>
                                    <img id="thumb_preview"
                                         class="img-thumbnail"
                                         src="/my-assets/media/article/<%= data.article.thumbnail %>"
                                         width="100%" style="display: block; width: 200px; height: 200px;"
                                         alt="thumbnail">
                                </div>

                                <input type="file" name="file" hidden id="input_thumb"
                                       Accept="image/png, image/jpeg, image/jpg">
                                <button class="btn btn-primary mt-3"
                                        type="button"
                                        <%= can_handle_article %>
                                        <%= hidden_final %>
                                        id="btn_choose_thumb">
                                    <i class="fa-solid fa-upload me-2"></i>
                                    Upload image
                                </button>
                                <div <%= hidden_final %> <%= can_handle_article %>>
                                    <hr>
                                    <div style="text-align: end;">
                                        <button class="btn btn-success" id="btn_update_article_basic_info">
                                            <i class="fa-solid fa-check me-2"></i>
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="shadow rounded h-100 p-4">
                            <div class="row g-4">
                                <div class="col-sm-6 col-xl-6">
                                    <h6>Files</h6>
                                </div>
                                <div class="col-sm-6 col-xl-6" style="text-align: end">
                                    <button <%= hidden_final %> <%= can_handle_article %>
                                            class="btn btn-primary"
                                            type="button"
                                            id="btn_add_article_file">
                                        <i class="fa-solid fa-plus me-2"></i>
                                        Add more
                                    </button>
                                </div>
                                <div class="col-sm-12 col-xl-12" style="text-align: end">
                                    <%- include('./partials/file-table', {files: data.article.files, hidden_final, can_handle_article}) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-12">
                        <div class="shadow rounded h-100 p-4">
                            <div class="row g-4">
                                <div class="col-sm-4 col-xl-4">
                                    <h6>Comments</h6>
                                    <% if(data.article.days_left_to_comment > 0) { %>
                                        <h7><%= data.article.days_left_to_comment %> days left to comment</h7>
                                    <% } %>
                                </div>
                                <div class="col-sm-8 col-xl-8" style="text-align: end">
                                    <button <%= data.article.days_left_to_comment <= 0 ? 'hidden' : '' %>
                                            class="btn btn-primary"
                                            id="btn_open_send_feedback_modal">
                                        <i class="fa-solid fa-paper-plane me-2"></i>
                                        Send Comment
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="comment_container">
                        <%- include('./partials/comment-row', {comment_list: data.comment_list}) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/add-more-files-modal') %>
<%- include('./partials/confirm-delete-article-modal') %>
<%- include('../../../partials/comment-modal') %>
<%- include('../../../partials/view-image-larger-modal') %>

<%- contentFor('script') %>
<script src="/my-assets/js/lib/dropzone-min.js"></script>
<script>
    const thumbnail_article = '<%= data.article.thumbnail %>'

    //view avatar larger
    $('#thumb_preview').click(function () {
        $('#large_image').attr('src', $(this).attr('src'))
        $('#btn_open_view_image_larger_modal').click()
    })

</script>
<script src="/my-assets/js/student/article-detail-controller.js"></script>
<script src="/my-assets/js/comment-controller.js"></script>

<%- contentFor('style') %>
<link href="/my-assets/css/dropzone.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/my-assets/css/comment-row.css">
<style>
    #thumb_preview:hover {
        cursor: zoom-in;
    }
</style>