<% function NavActivated(title){
    return title === data.page_title ? "active" : ""
} %>

<div class="sidebar pe-4 pb-3" style="z-index: 99998">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="/admin/dashboard" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DPhone</h3>
        </a>
        <div class="navbar-nav w-100">
            <a href="/admin/dashboard" class="nav-item nav-link <%= NavActivated('Dashboard') %>"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/admin/order/ORDER" class="nav-item nav-link <%= NavActivated('Order') %>"><i class="fa-solid fa-inbox me-2"></i>Order</a>
            <a href="/admin/brand" class="nav-item nav-link <%= NavActivated('Brand') %>"><i class="fa-brands fa-servicestack me-2"></i>Brand</a>
            <a href="/admin/product" class="nav-item nav-link <%= NavActivated('Product') %>"><i class="fa-brands fa-product-hunt me-2"></i>Product</a>
            <a href="/admin/message" class="nav-item nav-link <%= NavActivated('Messages') %>"><i class="fa-brands fa-facebook-messenger me-2"></i>Messages</a>
            <a href="/" class="nav-item nav-link"><i class="fas fa-globe me-2"></i>Website</a>
            <a href="#" class="nav-item nav-link" id="btn_logout"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a>
        </div>
    </nav>
</div>