<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-6">
            <div class="shadow rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa-solid fa-graduation-cap fa-3x" style="color: var(--primary)"></i>
                <div class="ms-3">
                    <p class="mb-2">Students</p>
                    <h6 class="mb-0 text-end"><%= data.all_student_quantity %></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-6">
            <div class="shadow rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa-solid fa-hand-holding-heart fa-3x" style="color: var(--primary)"></i>
                <div class="ms-3">
                    <p class="mb-2">Contributes</p>
                    <h6 class="mb-0 text-end"><%= data.all_contribute_quantity %></h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="shadow text-center rounded p-4">
                <div class="form-floating mb-3">
                    <select class="form-select" id="input_magazine" aria-label="Floating label select example">
                        <option selected value="all">All</option>
                        <% data.magazine_list.map( magazine => { %>
                            <option value="<%= magazine._id %>">
                                <%= magazine.title + ' ' %>
                                (<%= magazine.start_academic_year + '-' + magazine.end_academic_year %>)
                            </option>
                        <% }) %>
                    </select>
                    <label for="input_magazine">Academic Year Filter</label>
                </div>
                <%- include('./partials/bar-chart', {chart: {name: 'Contribution Of Faculties', id:'contribution_faculties_chart'} }) %>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="shadow text-center rounded p-4">
                <div class="form-floating mb-3">
                    <select class="form-select" id="input_faculty" aria-label="Floating label select example">
                        <option selected value="all">All</option>
                        <% data.faculty_list.map( faculty => { %>
                            <option value="<%= faculty._id %>" >
                                <%= faculty.name %>
                            </option>
                        <% }) %>
                    </select>
                    <label for="input_faculty">Faculty Filter</label>
                </div>
                <%- include('./partials/bar-chart', {chart: {name: 'Contribution of Years', id:'contribution_year_chart'} }) %>
            </div>
        </div>
    </div>
</div>

<%- contentFor('script') %>
<script src="/my-assets/js/admin/dashboard.js"></script>

<%- contentFor('style') %>