<li class="person rounded"
    data-user-id="<%= user._id %>"
    data-user-avatar="<%= user.avatar %>"
    data-user-full-name="<%= user.full_name %>">
    <div class="user">
        <img src="/my-assets/media/images/avatar/<%= user.avatar %>"
             alt="avatar">
    </div>
    <p class="name-time">
        <span class="name"><%= user.full_name %></span>
    </p>
</li>