<div class="container-fluid pt-4 px-4">
    <form id="account_form" enctype="multipart/form-data">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12"
                 style="position:sticky; z-index:1000; top: 64px">
                <div class="d-flex p-4 shadow rounded justify-content-between align-items-end bg-white">
                    <a href="/admin/account">
                        <button class="btn btn-primary" type="button"><i class="fas fa-chevron-left"></i></button>
                    </a>
                    <h5 style="text-align: center;">Create New Account</h5>
                    <button class="btn btn-primary" id="btn_create_new_account">
                        <i class="fa-solid fa-plus me-2"></i>
                        Create New
                    </button>
                </div>
            </div>
            <div class="col-sm-12 col-xl-12">
                <div class="container-fluid pt-4 px-4" style="padding-right: 0!important;padding-left: 0!important;">
                    <div class="row g-4">
                        <div class="col-sm-12 col-xl-6">
                            <div class="shadow rounded h-100 p-4">
                                <h6>Individual Information</h6>
                                <label for="email" class="col-form-label title-field">Email</label>
                                <input type="email" class="form-control" id="email"
                                       name="email"
                                       required>

                                <label for="password" class="col-form-label title-field mt-3">Password</label>
                                <input type="password" class="form-control" id="password" autocomplete
                                       name="password"
                                       required>

                                <label for="full_name" class="col-form-label title-field mt-3">Full Name</label>
                                <input type="text" class="form-control" id="full_name"
                                       name="full_name"
                                       required>

                                <label for="gender" class="col-form-label title-field mt-3">Gender</label>
                                <select name="gender" id="gender" class="form-select" required>
                                    <option value="">select gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>

                                <label for="birth_date" class="col-form-label title-field mt-3">Birth Date</label>
                                <input type="date" class="form-control" id="birth_date"
                                       name="birth_date"
                                       required>

                                <label for="phone" class="col-form-label title-field mt-3">Phone</label>
                                <input type="text" class="form-control" id="phone"
                                       name="phone"
                                       required>

                                <label class="col-form-label title-field mt-3">Avatar</label>
                                <input type="file" class="form-control" id="avatar" hidden name="avatar">
                                <img class="img-thumbnail d-block" id="avatar_preview"  src="/my-assets/media/images/avatar/user.svg" alt="" width="30%">
                                <button type="button" class="btn btn-primary d-block mt-5" id="btn_open_upload_file">
                                    <i class="fa-solid fa-upload me-2"></i>
                                    Upload
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xl-6">
                            <div class="shadow rounded h-100 p-4">
                                <h6>Academic Information</h6>
                                <label for="role" class="col-form-label title-field">Role</label>
                                <select name="role" id="role" class="form-select" required>
                                    <option value="">select role</option>
                                    <% data.role_list.map(role => { %>
                                        <option value="<%= role %>"><%= role %></option>
                                   <% })%>
                                </select>

                                <label for="faculty" class="col-form-label mt-3 title-field">Faculty</label>
                                <select name="faculty" id="faculty" class="form-select" required>
                                    <option value="">select faculty</option>
                                    <% data.faculty_list.map(faculty => { %>
                                        <option value="<%= faculty._id %>"><%= faculty.name %></option>
                                    <% })%>
                                </select>

                                <label for="start_year" class="col-form-label mt-3 title-field">Start Year</label>
                                <input type="text" class="form-control" id="start_year" name="start_year" required>

                                <label for="end_year" class="col-form-label mt-3 title-field">End Year</label>
                                <input type="text" class="form-control" id="end_year" name="end_year" required>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<%- contentFor('script') %>
<script>
    $('#btn_open_upload_file').click(function (){
        $('#avatar').click()
    })

    $('#avatar').change(function (){
        const option = {
            input_id: 'avatar',
            preview_id: 'avatar_preview',
            path_image_default: '/my-assets/media/images/avatar/user.svg',
        }
        const mime_type_allow = ['image/png', 'image/jpeg', 'image/jpg']
        const result = Utils.PreviewImage(option, mime_type_allow)
        if(!result){
            Alert.Show('warning', 'Only accept file type: png, jpp, jpeg')
        }
    })

    $('#account_form').submit(function (e) {
        e.preventDefault()

       if($('#password').val().length < 8){
           Alert.Show('warning', 'Password must be greater than or equal 8 character')
           return
       }

        const account_data = new FormData(this)
        account_data.set('birth_date', Utils.ConvertDate($('#birth_date').val(),'MM-dd-yyyy'))
        $.ajax({
            url: '/admin/account/new',
            type: 'post',
            data: account_data,
            processData: false,
            contentType: false,
            beforeSend: Loading(true),
            success: (response) => {
                setTimeout(() => {
                    if (response.code === 201) {
                        location.href = '/admin/account'
                    } else {
                        Alert.Show('warning', response.message)
                    }
                    Loading(false)
                }, 1500)
            },
            error: () => {
                Alert.Show('danger', 'Something went wrong!')
            }
        })
    })
</script>
<%- contentFor('style') %>
