<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= data.page_title %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

<!--    styles-->
    <%- include('../../../partials/style-part') %>

    <%- style %>
</head>

<body>
<%- include('../../../partials/confirm-modal') %>
<%- include('../../../partials/loading') %>

<div class="container-fluid position-relative d-flex p-0">

    <!-- nav Start -->
    <%- include('./partials/nav') %>

    <!-- Content Start -->
    <div class="content">
        <%- include('./partials/header') %>
        <%- body %>
        <!-- Footer Start -->
        <%- include('./partials/footer') %>
    </div>
    <!-- Content End -->
</div>
</body>
<!-- JavaScript Libraries -->
<%- include('../../../partials/script-part') %>

<%- script %>

</html>