<div class="table-responsive mt-5">
<table class="table table-hover" style="text-align: center;">
    <thead>
    <tr>
        <th scope="col" colspan="2">Student</th>
        <th scope="col">Thumbnail</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Submit Date</th>
    </tr>
    </thead>
    <tbody>
    <% contribute_list.map((contribute) => { %>
        <tr class="contribute-row" data-article-id="<%= contribute._id %>">
            <td class="table-active">
                <img style="max-width: 5rem"
                     src="/my-assets/media/images/avatar/<%= contribute.student.avatar %>"
                     alt="avatar">
            </td>
            <td class="table-active"><%= contribute.student.full_name %></td>
            <td>
                <img style="max-width: 5rem"
                     src="/my-assets/media/article/<%= contribute.thumbnail %>"
                     alt="thumbnail">
            </td>
            <td><%= contribute.title %></td>
            <td style="vertical-align: middle;">
                <%
                    let status_color = ''
                    if (contribute.status === 'QUEUE') {
                        status_color = 'dodgerblue'
                    } else if (contribute.status === 'ACCEPTED') {
                        status_color = 'green'
                    } else if (contribute.status === 'REFUSED') {
                        status_color = 'red'
                    }
                %>
                <span   class="rounded"
                        style="padding: .5rem;color: white;background-color: <%= status_color %>"><%= contribute.status %>
                </span>
            </td>
            <td><%= contribute.submit_date %></td>
        </tr>
    <% }) %>
    </tbody>
</table>

</div>