<div class="rounded h-100">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <% faculty_list.map((faculty, index) => { %>
                <button class="nav-link <%= index === 0 ? 'active' : '' %>"
                        data-bs-toggle="tab"
                        data-bs-target="#faculty_<%= faculty._id %>"
                        type="button"
                        role="tab">
                    <%= faculty.name %>
                </button>
            <% }) %>
        </div>
    </nav>
    <div class="tab-content pt-3" id="nav-tabContent">
        <% faculty_list.map((faculty, index) => { %>
            <div class="tab-pane fade <%= index === 0 ? 'active show' : '' %>"
                 id="faculty_<%= faculty._id %>"
                 role="tabpanel">
                <% if(faculty.contributes) { %>
                    <%- include('./contribute-table', {contribute_list:faculty.contributes}) %>
                <% } %>
            </div>
        <% }) %>
    </div>
</div>